pkgbase = vmd
	pkgdesc = Visual Molecular Dynamics
	pkgver = 1.9.3
	pkgrel = 1
	url = http://www.ks.uiuc.edu/Research/vmd/
	arch = x86_64
	license = custom
	makedepends = make
	depends = tcsh
	depends = perl
	depends = libxi
	depends = tcl
	depends = libxinerama
	depends = libgl
	depends = glu
	optdepends = netcdf: MMTK and AMBER 9 trajectories support
	optdepends = openbabel: additional file formats support
	optdepends = sqlite: dmsplugin
	source = local://vmd-1.9.3.bin.LINUXAMD64-CUDA8-OptiX4-OSPRay111p1.opengl.tar.gz
	source = local://catdcd
	md5sums = 8c10525a79a496beedf1f27fcdcb88b2
	md5sums = d930f06c1d58a31264396f4f84de7b67

pkgname = vmd

